.app {
  display: flex;
  width: 100vw;
  height: 100vh;
}
.app__filters {
  background: #dedede;
}
.app__grid {
  // Nothing here.
}

// These classes have no rulesets intentionally.
// I usually follow BEM for naming my classes.
.hotel-card {}
.hotel-card__header {}
.hotel-card__body {}
