<ng-form name="homeVm.hotelsForm">
  <section class="row app">
    <aside class="col-sm-3 app__filters">
      <md-content layout-padding>
        <div class="row" layout="row">
          <md-input-container class="col-xs-6">
            <label>Filter By:</label>
            <md-select ng-model="homeVm.scoreRatingFilter" placeholder="Filter By">
              <md-option value="rating">Rating</md-option>
              <md-option value="overall">Overall Trustyou Score</md-option>
            </md-select>
          </md-input-container>
          <md-input-container ng-if="homeVm.scoreRatingFilter === 'rating'" class="col-xs">
            <label>Rating</label>
            <input ng-model="homeVm.search.rating" name="rating" maxlength="1" type="tel" ng-pattern="homeVm.regexRating"/>
            <ng-messages
              for="homeVm.hotelsForm.rating.$error"
              ng-if="homeVm.hotelsForm.rating.$touched && homeVm.hotelsForm.rating.$invalid">
              <ng-messages-include src="error-message-invalid"></ng-message-include>
            </ng-messages>
          </md-input-container>
          <md-input-container ng-if="homeVm.scoreRatingFilter === 'overall'" class="col-xs">
            <label>Overall</label>
            <input ng-model="homeVm.trustyou" name="trustyou" maxlength="3"/>
            <ng-messages
              for="homeVm.hotelsForm.trustyou.$error"
              ng-if="homeVm.hotelsForm.trustyou.$touched && homeVm.hotelsForm.trustyou.$invalid">
              <ng-messages-include src="error-message-invalid"></ng-message-include>
            </ng-messages>
          </md-input-container>
        </div>
        <div>
          <md-input-container class="md-block">
            <label>Sort By:</label>
            <md-select ng-model="homeVm.sortBy">
              <md-option value="name">Name</md-option>
              <md-option value="rating">Rating</md-option>
              <md-option value="imageCount">Image Count</md-option>
            </md-select>
          </md-input-container>
        </div>
      </md-content>
    </aside>
    <md-content class="col-sm-9 app__grid" layout-padding>
      <div class="row">
        <div class="col-sm-12">
          <md-input-container class="md-block">
            <label>Name of Hotel</label>
            <input ng-model="homeVm.search.name" />
          </md-input-container>
        </div>
      </div>
      <div class="row">
        <md-card ng-repeat="hotel in homeVm.hotels | filter:homeVm.search | filter:homeVm.filterTrustYou | orderBy:homeVm.sortBy" class="hotel-card col-sm-3">
          <md-card-header class="hotel-card__header">
            <md-card-header-text>
              <span class="md-title">{{hotel.name}}</span>
              <span class="md-subhead">
                Rating: {{ hotel.rating }}
              </span>
            </md-card-header-text>
          </md-card-header>
          <md-card-content class="hotel-card__body">
            <span>Image Count: {{ hotel.imageCount }}</span> <br />
            <span ng-if="hotel.trustyou.score.overall > 0">Trustyou Overall Score: {{hotel.trustyou.score.overall}}</span>
          </md-card-content>
        </md-card>
      </div>
    </md-content>
  </section>
</ng-form>

<!-- [TODO:TH] Move to messages.html and ng-include -->
<script id="error-message-invalid" type="text/ng-template">
  <ng-message when="pattern">
    Invalid Format
  </ng-message>
</script>
